@font-face {
  font-family: Rokkitt;
  src: url(../Rokkitt/Rokkitt-VariableFont_wght.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../Raleway/Raleway-SemiBold.ttf);
}

body {
  margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-family: Raleway;
}

header {
  width: 100%;
  background-color: #E0E0E0;
  text-align: center;
}

.logo {
  font-family: Rokkitt;
  background-color: #000000;
  display: block;
  color: #FFFFFF;
  text-decoration: none;
}

.logo h1 {
  font-size: 2rem;
  margin: 0px;
  padding: 0.5em;
  font-weight: bold;
}

.pages {
  display: block;
  padding: 0.55em;
}

.pages nav a {
  text-align: center;
  padding: 0.6em;
  margin: 0.45em;
  font-size: 0.85em;
  color: #000000;
  text-decoration: none;
}

.pages nav a:hover {
  border-bottom: 0.15em solid #7b7b7b;
}

.pages nav a.active {
  border-bottom: 0.15em solid #000000;
}

.section-header {
  background-color: #CCC2B6;
  color: #000000;
  font-size: 0.9rem;
  padding: 0.6em 0.9em;
}

#article-row, #item-row {
  padding: 0.3rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FAFAFA;
}

.article-column {
  float: left;
  width: 15%;
  padding: 0.5rem;
}

#article-row:after, #item-row:after {
  content: "";
  display: table;
  clear: both;
}

.article-card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
  padding: 0px;
  height: 14em;
  text-align: center;
}

.article-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article-header {
  padding-top: 0.5em;
  font-size: 0.6rem;
}

.article-header h2 a {
  text-decoration: none;
  color: #000000;
}

.item-column {
  float: left;
  width: 13%;
  padding: 0.6rem;
}

.item-card {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
  height: 12rem;
  text-align: center;
  background-color: #FFFFFF;
}

.item-card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#quiz-link-row, #brand-link-row {
  background-color: #FAFAFA;
  text-align: center;
  padding: 0.5em;
}

.link-title {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 0.4em 0.5em;
  margin: 0.4em;
  display: inline-block;
  background-color: #f1f1f1;
  font-size: 0.85rem;
  color: #000000;
  text-decoration: none;
  transition: background-color;
  transition-delay: 0.1s;
}

.link-title:hover {
  background-color: #e9e9e9;
}

footer {
  font-size: 12px;
  padding: 16px;
}

@media screen and (max-width: 1024px) {
  .article-column {
    width: 20%;
  }
  .article-card {
    height: 12em;
  }
  .item-card {
    height: 11.5rem;
  }
}

@media screen and (max-width: 768px) {
  .section-header {
    font-size: 0.8rem;
  }
  .logo h1 {
    font-size: 1.9rem;
  }

  .pages nav a {
    font-size: 0.8rem;
  }
  .article-column {
    width: 25%;
  }
  .article-card {
    height: 12em;
  }
  .article-header {
    font-size: 0.55rem;
  }
  .item-column {
    width: 25%;
  }
  .item-card {
    height: 11.5rem;
  }
  .link-title {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .section-header {
    font-size: 0.75rem;
  }
  .article-column {
    width: 40%;
  }
  .logo h1 {
    font-size: 1.7rem;
  }
  .pages nav a {
    font-size: 0.75rem;
  }
  .article-header {
    font-size: 0.5rem;
  }
  .item-card {
    height: 8.5rem;
  }
  .link-title {
    font-size: 0.75rem;
  }
}

/* QUIZ PAGE */

.quizzes-section {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.8rem;
}

.quiz-card {
  display: flex;
  padding: 0.5em;
  height: 13rem;
}

.quiz-card img {
  width: 30%;
  object-fit: cover;
}

.quiz-header {
  font-size: 1rem;
  color: #000000;
}

.quiz-descr {
  font-size: 0.9rem;
  color: #555555;
}

.quiz-body a {
  color: #000000;
  font-size: 0.7rem;
  text-decoration: none;
}

.quiz-body {
  padding-left: 1em;
  width: 70%;
}

@media screen and (max-width: 768px) {
  .quiz-card {
    height: 13rem;
  }
  .quiz-card img {
    width: 25%;
  }
  .quiz-header {
    font-size: 0.9rem;
  }
  .quiz-descr {
    font-size: 0.8rem;
  }
  .quiz-body a {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 480px) {
  .quiz-card {
    display: inline-block;
    height: 13rem;
  }
  .quiz-body {
    padding-left: 0px;
    width: 100%;
  }
  .quiz-card img {
    width: 100%;
  }
  .quiz-header {
    font-size: 0.9rem;
  }
  .quiz-descr {
    font-size: 0.8rem;
  }
  .quiz-body a {
    font-size: 0.6rem;
  }
}

/* BLOG PAGE */

#blog-section {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.7rem;
  text-align: center;
}

.blog-page-card {
  padding: 0.7em;
  width: 25%;
  display: inline-grid;
}

.blog-img {
  height: 17rem;
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-header h2 {
  margin: 0.7em 0.5em;
  border-bottom: 0.5px solid #7b7b7b;
  padding-bottom: 0.7em;
  font-size: 1rem;
}

.blog-header h2 a {
  text-decoration: none;
  color: #000000;
}

.blog-source a {
  padding: 0px;
  margin: 0.2em;
  font-size: 0.8rem;
  text-decoration: none;
  color: #000000;
}

.blog-date-info p {
  padding: 0.2em;
  margin: 0px;
  font-size: 0.7rem;
}

@media screen and (max-width: 768px) {
  .blog-img {
    height: 15rem;
  }
}

@media screen and (max-width: 768px) {
  #blog-section {
    padding-left: 3%;
    padding-right: 3%;
  }
  .blog-header h2 {
    font-size: 0.8rem;
  }
  .blog-source a {
    font-size: 0.7rem;
  }
  .blog-date-info p {
    font-size: 0.6rem;
  }
  .blog-img {
    height: 12rem;
  }
  .blog-page-card {
    width: 28%;
  }
}

@media screen and (max-width: 480px) {
  .blog-header h2 {
    font-size: 0.7rem;
  }
  .blog-source a {
    font-size: 0.6rem;
  }
  .blog-date-info p {
    font-size: 0.5rem;
  }
  .blog-img {
    height: 10rem;
  }
  .blog-page-card {
    width: 40%;
  }
}

/* CATALOGUE PAGE */

.catalogue-main-section {
  padding-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.shop-by-bar {
  overflow: hidden;
}

.shop-by-bar a {
  float: left;
  display: block;
  padding: 8px;
  margin-bottom: 4px;
  font-size: 10px;
  text-decoration: none;
  color: #7b7b7b;
}

.shop-by-bar a.active {
  color: #000000;
}

#by-style-options, #by-season-options {
  overflow: hidden;
}

#by-style-options a, #by-season-options a {
  float: left;
  display: block;
  padding: 6px;
  margin-right: 12px;
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 12px;
  background-color: #E0E0E0;
  text-decoration: none;
  color: #616161;
}

#by-season-options a.active {
  color: #000000;
}

@media screen and (min-width: 900px) {
  #by-style-options a, #by-season-options a {
    padding: 8px;
    font-size: 14px;
  }
}

#by-style-options {
  display: none;
}

.filters-section {
  display: flex;
}

.price-range-slider {
  width: 20%;
  float: left;
  padding: 0px 6px;
}

.price-range-slider .range-value {
  margin: 0;
}

.price-range-slider .range-value input {
  width: 100%;
  background: none;
  color: #000;
  font-size: 12px;
  box-shadow: none;
  border: none;
  margin: 14px 0 14px 0;
}

@media screen and (min-width: 700px) {
  .price-range-slider .range-value input {
    font-size: 14px;
  }
}

.price-range-slider .range-bar {
  border: none;
  background: #000;
  height: 2px;
  width: 96%;
  margin-left: 8px;
}

.price-range-slider .range-bar .ui-slider-range {
  background: #765148;
}

.price-range-slider .range-bar .ui-slider-handle {
  border: none;
  border-radius: 8px;
  background: #fff;
  border: 2px solid #765148;
  height: 15px;
  width: 10px;
  top: -0.52em;
  cursor: pointer;
}

.price-range-slider .range-bar .ui-slider-handle + span {
  background: #765148;
}

.dropdown-filter {
  font-size: 10px;
  position: relative;
  vertical-align: middle;
  margin: 24px;
  margin-right: 0px;
}

.dropdown-filter select {
  background-color: #765148;
  color: #fff;
  font-size: inherit;
  padding: 6px;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  text-indent: 0.01px;
  text-overflow: '';
  border-radius: 5px;
  -webkit-appearance: none;
}

.dropdown-filter::before,
.dropdown-filter::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.dropdown-filter::after {
  content: "\25BC";
  height: 1em;
  font-size: 6px;
  line-height: 1;
  right: 1.2em;
  top: 55%;
  margin-top: -.5em;
}

.dropdown-filter::before {
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
}

#products-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 24px;
  text-align: center;
}

.product-card {
  padding: 24px;
  padding-bottom: 2px;
  width: 40%;
  display: inline-grid;
}

.product-image {
  height: 260px;
}

.product-details p {
  font-size: 10px;
}

.product-details a {
  text-decoration: none;
  color: #000000;
}

.product-details a h3 {
  font-size: 8px;
}

.product-details a h2 {
  font-size: 10px;
}

@media screen and (min-width: 700px) {
  .product-card {
    padding: 32px;
    width: 20%;
    display: inline-grid;
  }
  .product-image {
    height: 200px;
  }
}

@media screen and (min-width: 900px) {
  .product-card {
    width: 15%;
    padding: 24px;
    padding-bottom: 0px;
    display: inline-grid;
  }
  .product-image {
    height: 200px;
  }
  .product-details p {
    font-size: 12px;
  }
  .product-details a h3 {
    font-size: 10px;
  }
  .product-details a h2 {
    font-size: 14px;
  }
}

.blog-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  text-transform: uppercase;
}
